.containerType {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.grass,
.fire,
.water,
.bug,
.normal,
.poison,
.electric,
.ground,
.fighting,
.psychic,
.rock,
.flying,
.ghost,
.ice,
.dragon,
.steel,
.dark,
.fairy {
  width: 35%;
  padding: 3px;
  border-radius: 10px 2px;
}

.grass {
  background-color: rgb(16, 119, 16);
}

.fire {
  background-color: rgb(231, 7, 7);
}

.water {
  background-color: rgb(38, 202, 243);
}

.bug {
  background-color: rgb(9, 224, 9);
}

.poison {
  background-color: rgb(161, 20, 161);
}

.electric {
  background-color: rgb(199, 241, 10);
}

.ground {
  background-color: rgb(56, 47, 52);
}

.fighting {
  background-color: rgb(214, 74, 9);
}

.psychic {
  background-color: rgb(180, 17, 185);
}

.rock {
  background-color: rgb(108, 110, 67);
}

.flying {
  background-color: rgb(0, 81, 128);
}

.ghost {
  background-color: rgb(45, 31, 94);
}

.ice {
  background-color: rgb(14, 190, 196);
}

.dragon {
  background-color: rgb(38, 2, 43);
}

.steel {
  background-color: rgb(153, 155, 153);
}

.dark {
  background-color: rgb(23, 24, 23);
}

.fairy {
  background-color: rgb(238, 163, 213);
}

.normal {
  background-color: rgb(62, 63, 62);
}